@model eShopping.Models.OrderEmailModel

<!DOCTYPE html>
<html>
<head>
    <title>Order Placed Successfully : eShopping</title>
</head>
<body>
    <h1>Hello, @Model.CustomerName</h1>
    <p>Your order number @Model.OrderId was placed successfully.</p>
</body>
</html>