@model eShopping.Models.OrderEmailModel

<!DOCTYPE html>
<html>
<head>
    <title>Order Payment Received : eShopping</title>
</head>
<body>
    <h1>Hello, @Model.CustomerName</h1>
    <p>Payment for order number @Model.OrderId was received.</p>
</body>
</html>